Mod_Lang_JA/Mod_Lang_JA.userprefs
Mod_Lang_JA/.idea/.idea.Mod_Lang_JA/riderModule.iml
Mod_Lang_JA/.idea/.idea.Mod_Lang_JA/.idea/.gitignore
Mod_Lang_JA/.idea/.idea.Mod_Lang_JA/.idea/contentModel.xml
Mod_Lang_JA/.idea/.idea.Mod_Lang_JA/.idea/indexLayout.xml
Mod_Lang_JA/.idea/.idea.Mod_Lang_JA/.idea/modules.xml
Mod_Lang_JA/.idea/.idea.Mod_Lang_JA/.idea/projectSettingsUpdater.xml
Mod_Lang_JA/.idea/.idea.Mod_Lang_JA/.idea/vcs.xml
Mod_Lang_JA/.vs/Mod_Lang_JA/xs/UserPrefs.xml
Mod_Lang_JA/.vs/Mod_Lang_JA/xs/sqlite3/db.lock
Mod_Lang_JA/.vs/Mod_Lang_JA/xs/sqlite3/storage.ide
Mod_Lang_JA/.vs/Mod_Lang_JA/xs/sqlite3/storage.ide-shm
Mod_Lang_JA/.vs/Mod_Lang_JA/xs/sqlite3/storage.ide-wal
Mod_Lang_JA/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttribute.cs
Mod_Lang_JA/obj/Debug/Mod_Lang_JA.csproj.FileListAbsolute.txt
Mod_Lang_JA/obj/Debug/Mod_Lang_JA.csproj.FilesWrittenAbsolute.txt
Mod_Lang_JA/obj/Debug/Mod_Lang_JA.csprojAssemblyReference.cache
Mod_Lang_JA/obj/Debug/Mod_Lang_JA.csprojResolveAssemblyReference.cache
Mod_Lang_JA/obj/Debug/Mod_Lang_JA.dll
Mod_Lang_JA/obj/Debug/Mod_Lang_JA.dll.mdb
Mod_Lang_JA/obj/Debug/Mod_Lang_JA.ja.locale
Mod_Lang_JA/obj/Release/.NETFramework,Version=v4.5.AssemblyAttribute.cs
Mod_Lang_JA/obj/Release/Mod_Lang_JA.csproj.FilesWrittenAbsolute.txt
Mod_Lang_JA/obj/Release/Mod_Lang_JA.ja.locale
.gitattributes
Mod_Lang_JA/.vs/Mod_Lang_JA/xs/project-cache/Mod_Lang_JA-Debug.json
Mod_Lang_JA/.vs/Mod_Lang_JA/xs/project-cache/Mod_Lang_JA-Release.json
Mod_Lang_JA/bin/Debug/Assembly-CSharp-firstpass.dll
Mod_Lang_JA/bin/Debug/Assembly-CSharp.dll
Mod_Lang_JA/bin/Debug/ColossalManaged.dll
Mod_Lang_JA/bin/Debug/ICities.dll
Mod_Lang_JA/bin/Debug/ICSharpCode.SharpZipLib.dll
Mod_Lang_JA/bin/Debug/Mod_Lang_JA.dll
Mod_Lang_JA/bin/Debug/Mod_Lang_JA.pdb
Mod_Lang_JA/bin/Debug/PopsApiWrapper.dll
Mod_Lang_JA/bin/Debug/UnityEngine.dll
Mod_Lang_JA/bin/Debug/UnityEngine.dll.mdb
Mod_Lang_JA/obj/Debug/Mod_Lang_JA.csproj.CopyComplete
Mod_Lang_JA/obj/Debug/Mod_Lang_JA.csproj.CoreCompileInputs.cache
Mod_Lang_JA/obj/Debug/Mod_Lang_JA.pdb
Mod_Lang_JA/obj/Release/Mod_Lang_JA.csproj.FileListAbsolute.txt
